/* styles.css */
.root {
	-fx-background-color: #f4f4f4; /* Couleur de fond */
    -fx-font-family: 'Arial';
}

.vbox-root {
    -fx-background-image: url('/images/votre_image.jpg'); /* Chemin de l'image */
    -fx-background-size: cover; /* Ajuste l'image pour couvrir tout l'espace */
    -fx-background-position: center; /* Centre l'image */
    -fx-background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333; /* Couleur du texte */
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #45a049; /* Couleur au survol */
}

.button:pressed {
    -fx-background-color: #3d8b40; /* Couleur au clic */
}